@media screen and (min-width: 768px) and (max-width: 992px) {
  section#login {
    min-width: 80vw;
    height: 65vh;
  }

  div#imagem {
    min-width: 80vw;
  }
  div#formulario {
  }
  div#esqueci > a > span {
    top: 1.5vh;
    left: 48vw;
    font-size: 29px;
  }
  div#box-user > span {
    top: 35vh;
    left: 1.5vw;
    color: white;
  }
  div#box-pass > span {
    top: 42.5vh;
    left: 1.5vw;
    color: white;
  }
  div#box-user > input {
    left: 6vw;
    top: 35vh;
    width: 72.5vw;
  }
  div#box-pass > input {
    left: 6vw;
    top: 42.3vh;
    width: 72.5vw;
  }
}
