@media screen and (min-width: 768px) and (max-width: 992px) {
  body,
  html {
    background: linear-gradient(to bottom, #49a09d, #5f2c82);
    height:110%;
  }
  section#login {
    min-width: 80vw;
    height: 70vh;
  }

  div#imagem {
    min-width: 80vw;
  }
  div#formulario > h1 {
  
  }

  div#paragrafo {
    background-color: red;
    position: relative;
  }
  div#paragrafo> p {
    position: absolute;
    left:50%;
  }

  div#esqueci > a > span {
    top: 1.5vh;
    left: 48vw;
    font-size: 29px;
  }
  div#box-user > span {
    color: white;
  }
  div#box-pass > span {
    color: white;
  }
  div#box-user > input {
    left: 10%;
    width: 90%;
  }
  div#box-pass > input {
    left: 10%;
    width: 90%;
  }
  

}
